.manage-schedule-container{
    .manage-schedule-title{
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: #0071ba;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .pick-hour-container{
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0 30px 0;
        // padding-top: 20px;
        // padding-bottom: 30px;
        gap: 30px;
        //border: 1px solid red;

        .btn-schedule{
            padding: 5px 10px;
            border: 1px solid rgb(187, 183, 183);
            &.active{
                background-color: rgb(248, 248, 39);
            }
        }
    }
}