.booking-modal-container{
    
    .booking-modal-content{
       // height: 300px;
        //border: 1px solid red;
        .modal-header{
            .header-left{
                font-size: 18px;
                font-weight: 600;
                color: #3279b8;
                text-transform: uppercase;
            }
            .header-right{
                cursor: pointer;
            }

        }
        .modal-body{

        }
        .modal-footer{
            

    }
    }
    
}